.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 10fr);
    grid-gap: 1rem;
    /* grid-auto-flow: dense; */
}

.item{
    background-color: aqua;
    padding: 10px;
}

.item:nth-of-type(odd) {
    background-color : blueviolet;
}

/* .item.five{
    grid-column: 2/-1;
} */
       